---
import Layout from "../../../layouts/Layout.astro";
import NavbarManager from "../../../components/NavbarManager.astro";
---

<Layout title="List of employees">
  <NavbarManager />
  <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center">List of employees</h1>
  <ul>
    <li>
      <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          <a href="employes/new">Add a new employee</a>
        </span>
        </button>
    </li>
  </ul>

  <!-- Search form -->
  <form>
    <!-- Name -->
    <label for="name" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Search by name</label>
    <input type="text" id="name" name="name" placeholder="Search by name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />

    <!-- lastname -->
    <label for="lastname" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Search by last name</label>
    <input
      type="text"
      id="lastname"
      name="lastname"
      placeholder="Search by last name"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />

    <!-- Email -->
    <label for="email" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
    <input type="email" placeholder="Search by email" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

     <!-- Password -->
     <label for="password" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
     <input type="password" placeholder="Search by password" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
 
    <!-- Type -->
    <label for="type" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Type</label>
    <select name="type" id="type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="admin">Admin</option>
        <option value="employee">Employee</option>
    </select>
  </form>

  <!-- Table -->
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th class="px-6 py-3 text-xl">ID</th>
        <th class="px-6 py-3 text-xl">Name</th>
        <th class="px-6 py-3 text-xl">Last name</th>
        <th class="px-6 py-3 text-xl">Email</th>
        <th class="px-6 py-3 text-xl">Password</th>
        <th class="px-6 py-3 text-xl">Type</th>
        <th class="px-6 py-3 text-xl">
          <span class="sr-only">Seleccionar</span>
        </th>
        <th class="px-6 py-3 text-xl">
          <span class="sr-only">Editar</span>
        </th>
        <th class="px-6 py-3 text-xl">
          <span class="sr-only">Eliminar</span>
        </th>
      </tr>
    </thead>
    <tbody id="employees"></tbody>
  </table>
</Layout>

<script>
    let name = document.getElementById("name");
    let lastname = document.getElementById("lastname");
    let email = document.getElementById("email");
    let password = document.getElementById("password");
    let type = document.getElementById("type");
  
    name.addEventListener("input", loadTable);
    lastname.addEventListener("input", loadTable);
    email.addEventListener("input", loadTable);
    password.addEventListener("input", loadTable);
    type.addEventListener("input", loadTable);
  
    function loadTable() {
      let url = "http://localhost/api/employes/";
  
    if (name.value) {
      url += url.includes("?") ? "&" : "?";
      url += "name=" + name.value;
    }
    if (lastname.value) {
      url += url.includes("?") ? "&" : "?";
      url += "lastname=" + lastname.value;
    }
    if (email.value) {
      url += url.includes("?") ? "&" : "?";
      url += "email=" + email.value;
    }
    if (password.value) {
      url += url.includes("?") ? "&" : "?";
      url += "password=" + password.value;
    }
    if (type.value) {
      url += url.includes("?") ? "&" : "?";
      url += "type=" + type.value;
    }
  
      fetch(url)
        .then(response => response.json())
        .then(renderTable);
    }
  
    function renderTable(data) {
      let table = document.getElementById("employees");
      table.innerHTML = "";
      data.forEach(employee => {
        let row = document.createElement("tr");
        row.className = "odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700";
        row.innerHTML = `
          <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">${employee.id}</td>
          <td class="px-6 py-4">${employee.name}</td>
          <td class="px-6 py-4">${employee.lastname}</td>
          <td class="px-6 py-4">${employee.email}</td>
          <td class="px-6 py-4">${employee.password}</td>
          <td class="px-6 py-4">${employee.type}</td>
          <td class="px-6 py-4">
            <a href="/employes/${employee.id}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View</a>
          </td>
          <td class="px-6 py-4 text-right">
            <a href="/manager/employes/${employee.id}/edit" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
          </td>
          <td class="px-6 py-4 text-right">
            <a href="/manager/employes/${employee.id}/delete" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
          </td>
        `;
        table.appendChild(row);
      });
    }
  
    loadTable();
  </script>
