---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Lista de productos">
  <h1>Lista de productos</h1>
  <ul>
    <li><a href="./new">Add a new product</a></li>
  </ul>

  <!-- Search form -->
  <form>
    <!-- Name -->
    <label for="name">Search by name</label>
    <input type="text" id="name" name="name" placeholder="Search by name" />

    <!-- Description -->
    <label for="description">Search by description</label>
    <input
      type="text"
      id="description"
      name="description"
      placeholder="Search by description"
    />

    <!-- Limit -->
    <label for="limit">Limit</label>
    <select id="limit" name="limit">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>

    <!-- Pagination -->
    <label for="page">Page</label>
    <input type="number" id="page" name="page" value="1" />

    <!-- Min price -->
    <label for="min_price">Min price</label>
    <input
      type="number"
      id="min_price"
      name="min_price"
      placeholder="Min price"
    />

    <!-- Max price -->
    <label for="max_price">Max price</label>
    <input
      type="number"
      id="max_price"
      name="max_price"
      placeholder="Max price"
    />
  </form>

  <!-- Table -->
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="products"> </tbody>
  </table>
</Layout>

<script>
  let name = document.getElementById("name");
  let description = document.getElementById("description");
  let limit = document.getElementById("limit");
  let page = document.getElementById("page");
  let minPrice = document.getElementById("min_price");
  let maxPrice = document.getElementById("max_price");

  name.addEventListener("input", loadTable);

  description.addEventListener("input", loadTable);

  limit.addEventListener("change", loadTable);

  page.addEventListener("input", loadTable);

  minPrice.addEventListener("input", loadTable);

  maxPrice.addEventListener("input", loadTable);

  function loadTable() {
    if (
      minPrice.value &&
      maxPrice.value &&
      parseInt(minPrice.value) > parseInt(maxPrice.value)
    ) {
      alert("Min price must be lower than max price");
      return;
    }

    let url = "http://localhost/api/products/";
    let count = 0;

    if (name.value) {
      url += count > 0 ? "&" : "?";
      url += "name=" + name.value;
      count++;
    }

    if (description.value) {
      url += count > 0 ? "&" : "?";
      url += "description=" + description.value;
      count++;
    }

    if (minPrice.value) {
      url += count > 0 ? "&" : "?";
      url += "min_price=" + minPrice.value;
      count++;
    }

    if (maxPrice.value) {
      url += count > 0 ? "&" : "?";
      url += "max_price=" + maxPrice.value;
      count++;
    }

    if (limit.value) {
      url += count > 0 ? "&" : "?";
      url += "limit=" + limit.value;
      count++;
    }

    if (page.value) {
      url += count > 0 ? "&" : "?";
      url += "offset=" + (page.value - 1) * limit.value;
      count++;
    }

    fetch(url)
      .then((response) => response.json())
      .then(renderTable);
  }

  function renderTable(data) {
    let table = document.getElementById("products");
    table.innerHTML = "";
    data.forEach((product) => {
      let row = document.createElement("tr");
      row.innerHTML = `
        <td>${product.id}</td>
        <td>${product.name}</td>
        <td>${product.description}</td>
        <td>${product.price}</td>
        <td>
          <a href="/products/${product.id}">View</a>
            <a href="./${product.id}/edit">Edit</a>
            <a href="./${product.id}/delete">Delete</a>
        </td>
      `;
      table.appendChild(row);
    });
  }

  loadTable();
</script>
