---
import Layout from "../../../layouts/Layout.astro";
import NavbarManager from "../../../components/NavbarManager.astro";
---

<Layout title="Lista de productos">
  <NavbarManager />
  <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center">Lista de productos</h1>
  <ul>
    <li>
      <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          <a href="products/new">Add a new product</a>
        </span>
        </button>
    </li>
  </ul>

  <!-- Search form -->
  <form>
    <!-- Name -->
    <label for="name" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Search by name</label>
    <input type="text" id="name" name="name" placeholder="Search by name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />

    <!-- Description -->
    <label for="description" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Search by description</label>
    <input
      type="text"
      id="description"
      name="description"
      placeholder="Search by description"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />

    <!-- Limit -->
    <label for="limit" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Limit</label>
    <select id="limit" name="limit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>

    <!-- Pagination -->
    <label for="page" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Page</label>
    <input type="number" id="page" name="page" value="1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>

    <!-- Min price -->
    <label for="min_price" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Min price</label>
    <input
      type="number"
      id="min_price"
      name="min_price"
      placeholder="Min price"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />

    <!-- Max price -->
    <label for="max_price" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Max price</label>
    <input
      type="number"
      id="max_price"
      name="max_price"
      placeholder="Max price"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </form>

  <!-- Table -->
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th class="px-6 py-3 text-xl">ID</th>
        <th class="px-6 py-3 text-xl">Name</th>
        <th class="px-6 py-3 text-xl">Description</th>
        <th class="px-6 py-3 text-xl">Price</th>
        <th class="px-6 py-3 text-xl">
          <span class="sr-only">Seleccionar</span>
        </th>
        <th class="px-6 py-3 text-xl">
          <span class="sr-only">Editar</span>
        </th>
        <th class="px-6 py-3 text-xl">
          <span class="sr-only">Eliminar</span>
        </th>
      </tr>
    </thead>
    <tbody id="products"></tbody>
  </table>
</Layout>

<script>
  let name = document.getElementById("name");
  let description = document.getElementById("description");
  let limit = document.getElementById("limit");
  let page = document.getElementById("page");
  let minPrice = document.getElementById("min_price");
  let maxPrice = document.getElementById("max_price");

  name.addEventListener("input", loadTable);

  description.addEventListener("input", loadTable);

  limit.addEventListener("change", loadTable);

  page.addEventListener("input", loadTable);

  minPrice.addEventListener("input", loadTable);

  maxPrice.addEventListener("input", loadTable);

  function loadTable() {
    if (
      minPrice.value &&
      maxPrice.value &&
      parseInt(minPrice.value) > parseInt(maxPrice.value)
    ) {
      alert("Min price must be lower than max price");
      return;
    }

    let url = "http://localhost/api/products/";
    let count = 0;

    if (name.value) {
      url += count > 0 ? "&" : "?";
      url += "name=" + name.value;
      count++;
    }

    if (description.value) {
      url += count > 0 ? "&" : "?";
      url += "description=" + description.value;
      count++;
    }

    if (minPrice.value) {
      url += count > 0 ? "&" : "?";
      url += "min_price=" + minPrice.value;
      count++;
    }

    if (maxPrice.value) {
      url += count > 0 ? "&" : "?";
      url += "max_price=" + maxPrice.value;
      count++;
    }

    if (limit.value) {
      url += count > 0 ? "&" : "?";
      url += "limit=" + limit.value;
      count++;
    }

    if (page.value) {
      url += count > 0 ? "&" : "?";
      url += "offset=" + (page.value - 1) * limit.value;
      count++;
    }

    fetch(url)
      .then((response) => response.json())
      .then(renderTable);
  }

  function renderTable(data) {
    let table = document.getElementById("products");
    table.innerHTML = "";
    data.forEach((product) => {
      let row = document.createElement("tr");
      row.className =
        "odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700";
      row.innerHTML = `
        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">${product.id}</td>
        <td class="px-6 py-4">${product.name}</td>
        <td class="px-6 py-4">${product.description}</td>
        <td class="px-6 py-4">${product.price}</td>
        <td class="px-6 py-4">
          <a href="/products/${product.id}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View</a>
        </td>
        <td class="px-6 py-4 text-right">
          <a href="/manager/products/${product.id}/edit" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
        </td>
        <td class="px-6 py-4 text-right">
          <a href="/manager/products/${product.id}/delete" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
        </td>
      `;
      table.appendChild(row);
    });
  }

  loadTable();
</script>
