---

import Layout from "../../../layouts/Layout.astro";---
<Layout title="Lista de Sucursales">
    <h1>Lista de Sucursales</h1>
    <p>Esta es la lista de sucursales</p>

    <!-- Crear una nueva sucursal -->
    <a href="/manager/branches/new">Crear nueva sucursal</a>

    <!-- Tabla de sucursales -->
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="branches">

        </tbody>
    </table>

</Layout>

<script>
    // Cargar las sucursales
    fetch("http://localhost/api/branches")
        .then(response => response.json())
        .then(data => {
            const branches = document.getElementById("branches");
            branches.innerHTML = "";
            data.forEach(branch => {
                const tr = document.createElement("tr");
                tr.innerHTML = `
                    <td>${branch.name}</td>
                    <td>${branch.address}</td>
                    <td>
                        <a href="#" onclick="{
                            sessionStorage.setItem('branchId', ${branch.id});
                            alert('Se ha seleccionado la sucursal ${branch.name}');
                        }">Seleccionar</a>
                        <a href="/manager/branches/${branch.id}/edit">Editar</a>
                        <a href="/manager/branches/${branch.id}/delete">Eliminar</a>
                    </td>
                `;
                branches.appendChild(tr);
            });
        });
</script>

