---
import Layout from "../../../layouts/Layout.astro";
import SelectBranch from "../../../components/SelectBranch.astro";
---

<Layout title="Home">
  <h1>Welcome to Astro</h1>
    <!-- Select the branch you want to see -->
  <SelectBranch/>

  <!-- Search for a product -->
  <label for="search">
    <input type="text" id="search" placeholder="Search for a product">
  </label>


    <!-- Table -->
    <table id="stocks">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
    </table>
</Layout>

<script>
  if (sessionStorage.getItem('branch')) {
    loadTable(sessionStorage.getItem('branch'));
  }
    document.getElementById('branch').addEventListener('change', (event) => {
        loadTable(event.target.value);
    });


  document.getElementById('search').addEventListener('input', (event) => {
    fetch('http://localhost/api/stocks?branch_id=' + sessionStorage.getItem('branch') + '&product_name=' + event.target.value)
        .then(response => response.json())
        .then(renderTable);
    });

  function loadTable(branch_id) {
    fetch('http://localhost/api/stocks?branch_id=' + branch_id)
        .then(response => response.json())
        .then(renderTable);
    }

  function renderTable(data) {
    let table = document.getElementById('stocks');
    table.innerHTML = `
      <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Product ID</th>
        <th>Quantity</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    `;
    data.forEach(stock => {
      let row = document.createElement('tr');
      row.innerHTML = `
        <td>${stock.id}</td>
        <td>${stock.product_name}</td>
        <td>${stock.product_id}</td>
        <td>${stock.quantity}</td>
        <td><a href="/stocks/${stock.id}/edit">Edit</a></td>
        <td><a href="/stocks/${stock.id}/delete">Delete</a></td>
      `;
      table.appendChild(row);
    });
  }
</script>